.footer-primary {
  background-color: $brand-secondary;
  color: $gray-tertiary;
  font-size: 14px;
  font-weight: 300;

  &-inner {
    padding: 50px;
    display: grid;
    row-gap: 43px;
    grid-template-areas:
      'nav'
      'contact'
      'support';

    @include media-breakpoint-up(lg) {
      padding-left: 12px;
      padding-right: 12px;
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        'nav nav'
        'support contact';
    }
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    row-gap: 43px;
    grid-area: nav;

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      column-gap: 110px;
    }

    ul {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include media-breakpoint-up(lg) {
        flex-basis: auto;
        gap: 4px;
      }
    }
  }

  .footer-contact {
    grid-area: contact;
    display: inline-block;
    justify-content: center;

    h1 {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 300;

      span {
        font-weight: 500;
      }
    }

    a[href^='mailto:'] {
      color: $brand-primary;
    }

    p {
      display: flex;
      flex-direction: column;
    }
  }

  .footer-support {
    grid-area: support;
    text-transform: uppercase;
    display: flex;
    justify-self: center;

    @include media-breakpoint-up(lg) {
      align-self: end;
      justify-end: start;
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 8px;

      i[class*='fa-'] {
        color: $brand-primary;
        display: block;
        font-size: 32px;
        margin-bottom: 8px;
      }
    }
  }
}
