.product-tile-header {
  text-align: center;
}
.product-tile {
  &-image {
    position: relative;

    img {
      width: 100%;
    }

    .badge {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }

  h1 {
    font-size: 24px;
    color: $black;
    margin: 18px 0 12px 0;
    text-align: center;

    span:first-child {
      font-size: 24px;
      color: $gray-primary;
      font-weight: 500;
    }

    span:nth-child(2) {
      font-size: 24px;
      font-weight: lighter;
      color: $gray-primary;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 22px;
  }

  .product-tile-image span {
    font-size: 16px;
    text-align: center;
    display: flex;
    font-weight: lighter;
  }

  .product-tile-pricing {
    text-align: center;
    margin-bottom: 19px;

    .product-price-regular {
      text-decoration: line-through;
    }

    .product-price span {
      color: $brand-primary;
      font-weight: 500;
      display: block;
    }
  }

  footer {
    text-align: center;
  }
}
