.product-tile {
  &-image {
    position: relative;

    img {
      width: 100%;
    }

    .badge {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }

  h1 {
    font-size: 24px;
    color: $black;
    margin-top: 30px;
    display: inline-block;
  }

  h1 span {
    font-size: 24px;
    color: $gray-primary;
    display: inline-block;
    font-weight: 500;
  }

  h1 bdi {
    font-size: 24px;
    font-weight: lighter;
    color: $gray-primary;
    display: inline-block;
  }

  h2 {
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
  }

  span {
    font-size: 24px;
    text-align: center;
    display: block;
    font-weight: lighter;
  }

  bdi {
    color: $brand-primary;
    font-weight: 300;
  }

  footer {
    text-align: center;
  }
}
